

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="todoItem">Todo Item</label>
                        <input #todoItem type="text"  class="form-control" id="todoItem" placeholder="Enter todo list">      
                    </div>

                    <button *ngIf="!isInEditMode"
                    (click)="onTodoAdd(todoItem)"
                    mat-raised-button color="primary"
                    class="btn btn-sm btn-block">
                        Add Todo
                    </button>

                    <button *ngIf="isInEditMode" 
                      (click)="onTodoUpdate(todoItem)"
                      mat-raised-button color="primary"
                     class="btn btn-sm w-100 btn-block">
                        Update Todo
                    </button>


                    <button *ngIf="isInEditMode" 
                      (click)="onCancel()"
                      mat-raised-button color="primary"
                     class="btn btn-sm w-100 btn-block">
                        Cancel
                    </button>

                    
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group" *ngIf="todosArray.length > 0; else noTodos">
                        <li 
                        class="list-group-item d-flex justify-content-between align-items-center"
                        *ngFor="let todo of todosArray">
                        <strong>{{todo.todoItem}}</strong>
                        <div>
                            <button
                            (click)="onTodoEdit(todo)"
                            mat-raised-button
                            color="primary"
                            class="btn-sm mr-2"> Edit </button>

                            <button 
                               (click)="onTodoRemove(todo.todoId)"
                               mat-raised-button
                               color="warn"
                            class="btn-sm mat-raised btn-outline-danger">Remove</button>
                       </div>
                    </li>
                    </ul>

                    <ng-template #noTodos>
                      <p class="alert alert-info">No todos</p>
                  </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>