
<h3 class="text-center"> By using-Tab-NgFor</h3>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <div class="tab-content">
                    <ul class="nav nav-pills">
                            <li class="nav-items" *ngFor="let skill of skillsArray">
                                <a (click)="selectedskill = skill.skillname"
                                [ngClass]="{
                                 active : selectedskill.toLowerCase().includes(skill.skillname.toLowerCase())
                             }"
                         
                             href="javascript:;" class="nav-link active">
                             {{skill.skillname | titlecase}}
                                </a>
                            </li>
                         </ul>
                        <ng-container *ngFor="let skill of skillsArray">
                    
                        <div class="card" *ngIf="selectedskill.toLowerCase().includes(skill.skillname.toLowerCase())">
                                    <div class="card-body">
                                        <strong class="text-capitalize">
                                             {{skill.skillname}}
                                        </strong>
                                         {{skill.skillcontent}}
                                     </div>
                        </div>
                    </ng-container>
             </div>
        </div>
            
    </div>
 </div>
